<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>clothes_shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<servlet>
  <servlet-name>home</servlet-name>
  <servlet-class>clothes_shop.home</servlet-class>
</servlet>

<servlet>
	<servlet-name>about</servlet-name>
  <servlet-class>clothes_shop.about</servlet-class>
 </servlet>
 
 <servlet>
  <servlet-name>goods</servlet-name>
  <servlet-class>clothes_shop.goods</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>contact</servlet-name>
  <servlet-class>clothes_shop.contact</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>sells</servlet-name>
  <servlet-class>clothes_shop.sells</servlet-class>
  </servlet>


<servlet-mapping>

<servlet-name>contact</servlet-name>
<url-pattern>/contact</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>home</servlet-name>
	<url-pattern>/home</url-pattern>
</servlet-mapping>
	
	
<servlet-mapping>	
	<servlet-name>sells</servlet-name>
	<url-pattern>/sells</url-pattern>
</servlet-mapping>	
	
<servlet-mapping>	
	<servlet-name>about</servlet-name>
	<url-pattern>/about</url-pattern>
</servlet-mapping>
	
	
<servlet-mapping>
	<servlet-name>goods</servlet-name>
	<url-pattern>/goods</url-pattern>
</servlet-mapping>
  
  
  
</web-app>