<web-app>
<display-name>second</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>calcul</servlet-name>
<servlet-class>second.calcul</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>calcul</servlet-name>
<url-pattern>/calcul</url-pattern>
</servlet-mapping>

</web-app>